<div class="ml-auto block align-items-end lg:flex flex-row justify-content-end p-3">
    @if (criteriaCalculated().hasError && inventory()?.enableDataInconsistency) {
        <p-button
            (onClick)="showInconsitencyGraph = !showInconsitencyGraph"
            [rounded]="true"
            [label]="'inventories-footprint.data-consistency' | translate"
            [outlined]="!showInconsitencyGraph"
            severity="danger"
            class="ml-auto pr-3"
            [ariaLabel]="'inventories-footprint.data-consistency' | translate"
        />
    }
    @if (!showInconsitencyGraph) {
        <p-select
            [options]="dimensions"
            [ngModel]="selectedDimension()"
            (ngModelChange)="footprintStore.setApplicationDimension($event)"
            [placeholder]="'inventories-footprint.select-dimension' | translate"
        >
            <ng-template pTemplate="selectedItem">
                @if (selectedDimension()) {
                    <div>
                        {{
                            "inventories-footprint.application-round-button." +
                                selectedDimension() | translate
                        }}
                    </div>
                }
            </ng-template>
            <ng-template let-dimension pTemplate="item">
                <div>
                    {{
                        "inventories-footprint.application-round-button." + dimension
                            | translate
                    }}
                </div>
            </ng-template>
        </p-select>
    }
</div>
@if (showInconsitencyGraph) {
    @if (options().series && applicationStats()[0].value) {
        <app-stack-bar-chart
            [xAxisInput]="xAxisInput"
            [statusCountMap]="criteriaCalculated().criteriasCount!"
            (selectedStackBarClick)="stackChartClick($event)"
        />
    } @else {
        <div class="no-data-bar">
            <p class="text-round-empty">{{ "common.no-data" | translate }}</p>
        </div>
    }
} @else {
    @if (applicationStats()[0].value) {
        <div
            attr.aria-label="{{
                'inventories-footprint.round-button.' + selectedDimension() | translate
            }} {{ 'inventories-footprint.global.global-vision' | translate }}"
            echarts
            class="m-0"
            (chartClick)="onChartClick($event)"
            [options]="options()"
            style="height: 520px"
        ></div>
    } @else {
        <div class="no-data-round">
            <p
                class="text-round-empty"
                attr.aria-label="{{ 'common.no-data' | translate }}"
            >
                {{ "common.no-data" | translate }}
            </p>
        </div>
    }
    <app-graph-description
        [contentText]="getContentText()"
        [textDescriptionImpacts]="textDescriptionImpacts"
        (impactSelectedEvent)="handleImpactClick($event)"
        [source]="true"
        [sourceValue]="[]"
    ></app-graph-description>
}
