.welcome-page-container {
    .welcome-page-title {
        .username {
            color: var(--light-green-color);
        }
    }

    .getting-started {
        margin-top: 3.5rem;
    }

    .selection-card-container {
        .pi {
            font-size: 8.5rem;
            padding: 1rem;
        }

        .selection-card-content {
            line-height: 1.75rem;
        }

        .custom-icon {
            width: 154px;
            height: 154px;
            background-color: var(--blue-color);
        }

        .custom-ecomind-icon {
            background-color: #a110c9;
        }

        &.disabled {
            .p-card-title {
                color: var(--tints-black-80);
            }
        }

        &:not(.disabled):hover {
            .p-card-title {
                color: var(--blue-color);
            }
        }
    }

    footer {
        a {
            color: var(--tints-black-80);
            text-decoration: none;
        }
    }

    .useful-info .hover-text:not(.p-disabled):hover {
        background: rgba(0, 0, 0, 0.04);
        font-weight: 700;
    }

    .useful-info a:focus,
    .help-center a:not(.p-disabled):focus:before {
        outline: 2px solid #28a745;
    }

    .help-center a:not(.p-disabled):hover {
        font-weight: 700;
    }

    .help-center a:not(.p-disabled) {
        outline-width: 0;

        &:before {
            content: "";
            height: 100%;
            position: absolute;
            right: 0;
            width: 100%;
        }

        &:hover:before {
            background: rgba(0, 0, 0, 0.04);
        }
    }

    .beta-badge {
        border: 1px solid #7c3aed;
        background: #f3e8ff;

        color: #4c1d95;
    }

    .badge-div {
        left: 10px;
        top: 10px;
    }
}
