<div class="px-2">
    @if (purpose === "new") {
        <div
            appAutofocus
            class="side-panel-title"
            tabIndex="-1"
            [attr.aria-label]="'new-inventory-choose' | translate"
        >
            <h2>
                {{ "inventories.add" | translate }}
            </h2>
        </div>
    }
    @if (purpose === "upload") {
        <div class="side-panel-title" appAutofocus tabIndex="-1">
            <h2>
                {{ "inventories.load-files-on" | translate }}
                {{ name }}
            </h2>
        </div>
    }
    <div>
        <form action="" method="post">
            @if (purpose === "new") {
                <fieldset
                    class="flex w-fit gap-3 border-black-alpha-90 bg-white border-round-xl border-1"
                    role="group"
                    [attr.aria-label]="'inventories.type.name' | translate"
                >
                    <div
                        class="flex align-items-center p-2"
                        (click)="selectedType = 'INFORMATION_SYSTEM'; name = ''"
                        (keydown.enter)="selectedType = 'INFORMATION_SYSTEM'; name = ''"
                        (keydown.space)="selectedType = 'INFORMATION_SYSTEM'; name = ''"
                    >
                        <label for="information-system" class="mr-1 cursor-pointer">{{
                            "inventories.type.is-version" | translate
                        }}</label>
                        <p-radiobutton
                            #firstInputElement
                            name="inventoryType"
                            value="INFORMATION_SYSTEM"
                            [(ngModel)]="selectedType"
                            inputId="information-system"
                        ></p-radiobutton>
                    </div>
                    <div class="border-left-1"></div>
                    <div
                        class="flex align-items-center p-2"
                        (click)="selectedType = 'SIMULATION'; name = ''"
                        (keydown.enter)="selectedType = 'SIMULATION'; name = ''"
                        (keydown.space)="selectedType = 'SIMULATION'; name = ''"
                    >
                        <label for="simulation" class="mr-1 cursor-pointer">{{
                            "inventories.type.simulation" | translate
                        }}</label>
                        <p-radiobutton
                            name="inventoryType"
                            value="SIMULATION"
                            [(ngModel)]="selectedType"
                            inputId="simulation"
                            id="simulation-radio-button"
                        ></p-radiobutton>
                    </div>
                </fieldset>
            }

            <br />
            @if (purpose === "new") {
                <div class="flex flex-row align-items-start ml-1">
                    @if (selectedType === inventoryType.INFORMATION_SYSTEM) {
                        <p-datepicker
                            dateFormat="MM yy"
                            (onSelect)="onSelectToDate($event)"
                            view="month"
                            placeholder="Oct 2023"
                            [class]="className"
                            [disabledDates]="invalidDates"
                            [showClear]="true"
                            (onClear)="onClearDate()"
                            id="calendar"
                            [attr.aria-label]="'inventories.calendar' | translate"
                        ></p-datepicker>
                    }
                    <div [formGroup]="inventoriesForm">
                        @if (selectedType === inventoryType.SIMULATION) {
                            <input
                                pInputText
                                class="w-15rem md:w-30rem"
                                type="text"
                                name="name"
                                formControlName="name"
                                placeholder="Name"
                                [attr.aria-label]="'input-simulation-aria' | translate"
                                [(ngModel)]="name"
                                [maxlength]="255"
                                (keyup)="checkForDuplicate()"
                                id="input-simulation-text"
                            />
                        }
                        @if (inventoriesFormControls["name"].invalid) {
                            <p class="error-text">
                                {{ "inventories.nameValidation" | translate }}
                            </p>
                        }
                        @if (checkForDuplicate()) {
                            <p class="error-text">
                                {{ "inventories.duplicateSimulation" | translate }}
                            </p>
                        }
                    </div>
                    @if (className === "ng-invalid ng-dirty" && purpose === "new") {
                        <p class="error-text">
                            {{ "inventories.inventory-date" | translate }}
                            {{ "common.mandatory" | translate }}
                        </p>
                    }
                </div>
            }
            @if (!name && selectedType === inventoryType.INFORMATION_SYSTEM) {
                <p class="error-text">
                    {{ "inventories.date" | translate }}
                    {{ "common.mandatory" | translate }}
                </p>
            }

            <div class="input-loading-files overflow-auto max-h-21rem mt-4">
                <ng-container #uploaderContainer> </ng-container>
            </div>

            <div class="mt-4 mb-4 font-italic">
                <p>
                    {{ "common.allowed-extensions" | translate }}
                    {{ allowedFileExtensions.join(", ") }}
                </p>
            </div>

            <p-button
                (onClick)="addComponent()"
                label="+ {{ 'common.add' | translate }}"
                styleClass="px-4 py-2 border-round-3xl text-xs font-semibold yellow-button-file"
            />
            <hr class="mb-1" />
            <div>
                <div id="openTitle" class="text-xl">
                    {{ "inventories.templates.starter-pack" | translate }}
                </div>
                <div>
                    <ul aria-labelledby="openTitle">
                        @for (data of templateFiles; track data) {
                            <li class="my-1">
                                <span
                                    [class.font-semibold]="
                                        ['zip', 'xlsx'].includes(data.type)
                                    "
                                    [class.text-lg]="['zip', 'xlsx'].includes(data.type)"
                                    class="vertical-align-middle my-1"
                                >
                                    {{ data.displayFileName }}
                                </span>
                                <button
                                    type="button"
                                    class="bg-transparent border-none cursor-pointer vertical-align-middle"
                                    (click)="downloadTemplateFile(data.name)"
                                >
                                    <img
                                        src="assets/images/icons/icon-download.svg"
                                        height="24px"
                                        [alt]="'inventories.download-alt' | translate"
                                        ariaLabel="{{
                                            'inventories-footprint.header.download'
                                                | translate
                                        }} {{ data.displayFileName }}"
                                    />
                                </button>
                            </li>
                        }
                        <li class="my-1">
                            <span
                                class="vertical-align-middle my-1 font-semibold text-lg"
                            >
                                {{
                                    "inventories.templates.workspace-settings" | translate
                                }}
                            </span>
                            <button
                                type="button"
                                class="bg-transparent border-none cursor-pointer vertical-align-middle"
                                (click)="downloadWorkspaceReferenceData()"
                            >
                                <img
                                    src="assets/images/icons/icon-download.svg"
                                    height="24px"
                                    [alt]="'inventories.download-alt' | translate"
                                    ariaLabel="{{
                                        'inventories-footprint.header.download'
                                            | translate
                                    }} {{
                                        'inventories.templates.workspace-settings'
                                            | translate
                                    }}"
                                />
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="text-right">
                <p-button
                    id="cancel-new-inventory"
                    styleClass="white-button"
                    (onClick)="close()"
                    >{{ "common.cancel" | translate }}</p-button
                >
                <p-button
                    styleClass="black-button"
                    type="submit"
                    (onClick)="submitFormData()"
                    [disabled]="
                        (purpose === 'new' && (name === '' || checkForDuplicate())) ||
                        (purpose === 'upload' && !isFileUploaded())
                    "
                    id="add-new-inventory"
                >
                    @if (purpose === "new") {
                        <span>{{ "common.add" | translate }}</span>
                    }
                    @if (purpose === "upload") {
                        <span>{{ "common.upload" | translate }}</span>
                    }
                </p-button>
            </div>
        </form>
    </div>
</div>
