<div class="bg-lightest-gray-color py-3 m-3">
    <h3 class="font-semibold ml-4">
        {{ "inventories-footprint.application.additional-elements" | translate }}
    </h3>
    <div class="grid m-3">
        <div class="col-12 lg:col-6">
            <div class="bg-white border-round-md box-shadow-pie">
                <div class="flex text-xl justify-content-center py-2">
                    <h3 class="ml-0 my-2">
                        {{
                            "inventories-footprint.filter-tabs-application.lifeCycle"
                                | translate
                        }}
                    </h3>
                </div>
                <p-card styleClass="shadow-none">
                    <div
                        tabindex="0"
                        echarts
                        class="pie"
                        [options]="lifecycleOptions()"
                        style="height: 170px; margin: 0; width: 90%"
                    ></div>
                </p-card>
            </div>
        </div>

        <div class="col-12 lg:col-6">
            <div class="bg-white border-round-md box-shadow-pie">
                <div class="flex text-xl justify-content-center py-2">
                    <h3 class="ml-0 my-2">
                        {{
                            "inventories-footprint.filter-tabs-application.environment"
                                | translate
                        }}
                    </h3>
                </div>
                <p-card styleClass="shadow-none">
                    <div
                        tabindex="0"
                        echarts
                        class="pie"
                        [options]="envOptions()"
                        style="height: 170px; margin: 0; width: 90%"
                    ></div>
                </p-card>
            </div>
        </div>
    </div>
</div>
